---
const today = new Date();
---

<footer>
  <div class="social-links">
    <a href="https://x.com/leoc_622" target="_blank">x.com</a>
    <a href="https://github.com/leoc-22" target="_blank">github</a>
  </div>
  &copy; {today.getFullYear()} Leo Cao. All rights reserved.
</footer>
<style>
  footer {
    padding: 1em 1em 0.5em 1em;
    background: #1a1f2e;
    color: rgb(var(--gray));
    text-align: center;
    font-family: 'Google Sans Code', monospace;
    font-size: 13px;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: 'Google Sans Code', monospace;
    font-size: 16px;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
    text-decoration: underline;
  }
</style>
